.bloomTree {
    left: -2px;
    top: 36px;
    position: absolute;
    width: 55%;
    height: 65%;
    z-index: 100;
}

.paraghraphDescribe {
    margin-top: 30px;
    line-height: 30px;
    color: whitesmoke;
}
.describePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.describeBox {

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
.ikigai{
    font-weight:bolder !important;
    color: whitesmoke;
}
.btnQuiz{
    width: 10rem;
    padding: 10px ;
    border: none;
    background: #F6A5C9 !important;
    border-radius: 50px !important;
    margin-top: 30px ;

}

/*****************************************/


.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.75vw;
    height: 1vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}
.firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}
.firefly::before {
    background: #eeb8bb;
    opacity: 0.4;
    animation: drift ease alternate infinite;
}
.firefly::after {
    background: #eeb8bb;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #d2858d;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}
.firefly:nth-child(1)::before {
    animation-duration: 10s;
}
.firefly:nth-child(1)::after {
    animation-duration: 10s, 8386ms;
    animation-delay: 0ms, 4295ms;
}

@keyframes move1 {
    0% {
        transform: translateX(31vw) translateY(-47vh) scale(0.77);
    }
    4.347826087% {
        transform: translateX(-6vw) translateY(14vh) scale(0.91);
    }
    8.6956521739% {
        transform: translateX(-46vw) translateY(23vh) scale(0.41);
    }
    13.0434782609% {
        transform: translateX(-37vw) translateY(19vh) scale(0.45);
    }
    17.3913043478% {
        transform: translateX(39vw) translateY(48vh) scale(0.81);
    }
    21.7391304348% {
        transform: translateX(-47vw) translateY(22vh) scale(0.58);
    }
    26.0869565217% {
        transform: translateX(34vw) translateY(1vh) scale(0.97);
    }
    30.4347826087% {
        transform: translateX(28vw) translateY(12vh) scale(0.29);
    }
    34.7826086957% {
        transform: translateX(-46vw) translateY(14vh) scale(0.26);
    }
    39.1304347826% {
        transform: translateX(-26vw) translateY(32vh) scale(0.34);
    }
    43.4782608696% {
        transform: translateX(-2vw) translateY(-10vh) scale(0.71);
    }
    47.8260869565% {
        transform: translateX(48vw) translateY(-12vh) scale(0.67);
    }
    52.1739130435% {
        transform: translateX(15vw) translateY(9vh) scale(0.34);
    }
    56.5217391304% {
        transform: translateX(8vw) translateY(36vh) scale(0.87);
    }
    60.8695652174% {
        transform: translateX(10vw) translateY(29vh) scale(0.49);
    }
    65.2173913043% {
        transform: translateX(43vw) translateY(48vh) scale(0.49);
    }
    69.5652173913% {
        transform: translateX(-23vw) translateY(38vh) scale(0.26);
    }
    73.9130434783% {
        transform: translateX(30vw) translateY(-24vh) scale(0.79);
    }
    78.2608695652% {
        transform: translateX(34vw) translateY(28vh) scale(0.47);
    }
    82.6086956522% {
        transform: translateX(36vw) translateY(6vh) scale(0.6);
    }
    86.9565217391% {
        transform: translateX(-37vw) translateY(27vh) scale(0.69);
    }
    91.3043478261% {
        transform: translateX(-45vw) translateY(20vh) scale(0.56);
    }
    95.652173913% {
        transform: translateX(35vw) translateY(-16vh) scale(0.64);
    }
    100% {
        transform: translateX(-24vw) translateY(29vh) scale(0.47);
    }
}
.firefly:nth-child(2) {
    animation-name: move2;
}
.firefly:nth-child(2)::before {
    animation-duration: 9s;
}
.firefly:nth-child(2)::after {
    animation-duration: 9s, 8697ms;
    animation-delay: 0ms, 6517ms;
}

@keyframes move2 {
    0% {
        transform: translateX(26vw) translateY(44vh) scale(0.86);
    }
    5.5555555556% {
        transform: translateX(-41vw) translateY(4vh) scale(0.46);
    }
    11.1111111111% {
        transform: translateX(19vw) translateY(30vh) scale(0.67);
    }
    16.6666666667% {
        transform: translateX(3vw) translateY(0vh) scale(0.82);
    }
    22.2222222222% {
        transform: translateX(50vw) translateY(32vh) scale(0.78);
    }
    27.7777777778% {
        transform: translateX(-15vw) translateY(-7vh) scale(0.42);
    }
    33.3333333333% {
        transform: translateX(-27vw) translateY(2vh) scale(0.86);
    }
    38.8888888889% {
        transform: translateX(8vw) translateY(-10vh) scale(0.38);
    }
    44.4444444444% {
        transform: translateX(42vw) translateY(10vh) scale(0.98);
    }
    50% {
        transform: translateX(33vw) translateY(25vh) scale(0.95);
    }
    55.5555555556% {
        transform: translateX(-30vw) translateY(35vh) scale(0.4);
    }
    61.1111111111% {
        transform: translateX(14vw) translateY(10vh) scale(0.88);
    }
    66.6666666667% {
        transform: translateX(-13vw) translateY(-49vh) scale(0.8);
    }
    72.2222222222% {
        transform: translateX(-10vw) translateY(15vh) scale(0.91);
    }
    77.7777777778% {
        transform: translateX(45vw) translateY(0vh) scale(0.68);
    }
    83.3333333333% {
        transform: translateX(-22vw) translateY(-25vh) scale(0.96);
    }
    88.8888888889% {
        transform: translateX(6vw) translateY(13vh) scale(0.86);
    }
    94.4444444444% {
        transform: translateX(22vw) translateY(-32vh) scale(0.97);
    }
    100% {
        transform: translateX(27vw) translateY(-37vh) scale(0.78);
    }
}
.firefly:nth-child(3) {
    animation-name: move3;
}
.firefly:nth-child(3)::before {
    animation-duration: 10s;
}
.firefly:nth-child(3)::after {
    animation-duration: 10s, 6830ms;
    animation-delay: 0ms, 1978ms;
}

@keyframes move3 {
    0% {
        transform: translateX(-44vw) translateY(11vh) scale(0.86);
    }
    4% {
        transform: translateX(25vw) translateY(-34vh) scale(0.81);
    }
    8% {
        transform: translateX(-11vw) translateY(-44vh) scale(0.46);
    }
    12% {
        transform: translateX(17vw) translateY(38vh) scale(0.64);
    }
    16% {
        transform: translateX(14vw) translateY(-18vh) scale(0.67);
    }
    20% {
        transform: translateX(17vw) translateY(17vh) scale(0.29);
    }
    24% {
        transform: translateX(12vw) translateY(-41vh) scale(0.94);
    }
    28% {
        transform: translateX(2vw) translateY(11vh) scale(0.35);
    }
    32% {
        transform: translateX(-18vw) translateY(35vh) scale(0.91);
    }
    36% {
        transform: translateX(-49vw) translateY(18vh) scale(0.75);
    }
    40% {
        transform: translateX(13vw) translateY(-16vh) scale(0.82);
    }
    44% {
        transform: translateX(1vw) translateY(-46vh) scale(0.9);
    }
    48% {
        transform: translateX(35vw) translateY(22vh) scale(0.78);
    }
    52% {
        transform: translateX(17vw) translateY(-4vh) scale(0.26);
    }
    56% {
        transform: translateX(-23vw) translateY(38vh) scale(0.93);
    }
    60% {
        transform: translateX(-42vw) translateY(-10vh) scale(0.36);
    }
    64% {
        transform: translateX(2vw) translateY(13vh) scale(0.63);
    }
    68% {
        transform: translateX(-43vw) translateY(16vh) scale(0.5);
    }
    72% {
        transform: translateX(4vw) translateY(6vh) scale(0.37);
    }
    76% {
        transform: translateX(-8vw) translateY(-9vh) scale(0.57);
    }
    80% {
        transform: translateX(-45vw) translateY(-7vh) scale(0.88);
    }
    84% {
        transform: translateX(-31vw) translateY(-8vh) scale(0.84);
    }
    88% {
        transform: translateX(13vw) translateY(1vh) scale(0.53);
    }
    92% {
        transform: translateX(19vw) translateY(-10vh) scale(0.84);
    }
    96% {
        transform: translateX(33vw) translateY(-37vh) scale(0.37);
    }
    100% {
        transform: translateX(-19vw) translateY(5vh) scale(0.71);
    }
}
.firefly:nth-child(4) {
    animation-name: move4;
}
.firefly:nth-child(4)::before {
    animation-duration: 10s;
}
.firefly:nth-child(4)::after {
    animation-duration: 10s, 5058ms;
    animation-delay: 0ms, 3000ms;
}

@keyframes move4 {
    0% {
        transform: translateX(4vw) translateY(22vh) scale(0.51);
    }
    3.7037037037% {
        transform: translateX(14vw) translateY(-44vh) scale(0.3);
    }
    7.4074074074% {
        transform: translateX(-8vw) translateY(0vh) scale(0.63);
    }
    11.1111111111% {
        transform: translateX(-32vw) translateY(-34vh) scale(0.54);
    }
    14.8148148148% {
        transform: translateX(44vw) translateY(-2vh) scale(0.95);
    }
    18.5185185185% {
        transform: translateX(24vw) translateY(-49vh) scale(0.48);
    }
    22.2222222222% {
        transform: translateX(26vw) translateY(-7vh) scale(0.56);
    }
    25.9259259259% {
        transform: translateX(-15vw) translateY(4vh) scale(0.28);
    }
    29.6296296296% {
        transform: translateX(46vw) translateY(-22vh) scale(0.33);
    }
    33.3333333333% {
        transform: translateX(-25vw) translateY(7vh) scale(0.62);
    }
    37.037037037% {
        transform: translateX(39vw) translateY(44vh) scale(0.94);
    }
    40.7407407407% {
        transform: translateX(37vw) translateY(48vh) scale(0.65);
    }
    44.4444444444% {
        transform: translateX(-44vw) translateY(2vh) scale(0.5);
    }
    48.1481481481% {
        transform: translateX(-23vw) translateY(17vh) scale(0.97);
    }
    51.8518518519% {
        transform: translateX(-45vw) translateY(6vh) scale(0.4);
    }
    55.5555555556% {
        transform: translateX(-26vw) translateY(-2vh) scale(0.58);
    }
    59.2592592593% {
        transform: translateX(37vw) translateY(6vh) scale(0.68);
    }
    62.962962963% {
        transform: translateX(34vw) translateY(21vh) scale(0.83);
    }
    66.6666666667% {
        transform: translateX(26vw) translateY(-37vh) scale(0.78);
    }
    70.3703703704% {
        transform: translateX(21vw) translateY(-46vh) scale(0.73);
    }
    74.0740740741% {
        transform: translateX(17vw) translateY(11vh) scale(0.31);
    }
    77.7777777778% {
        transform: translateX(-45vw) translateY(-48vh) scale(0.42);
    }
    81.4814814815% {
        transform: translateX(30vw) translateY(-28vh) scale(0.45);
    }
    85.1851851852% {
        transform: translateX(-40vw) translateY(-13vh) scale(0.4);
    }
    88.8888888889% {
        transform: translateX(-12vw) translateY(-5vh) scale(0.92);
    }
    92.5925925926% {
        transform: translateX(34vw) translateY(0vh) scale(0.71);
    }
    96.2962962963% {
        transform: translateX(38vw) translateY(-36vh) scale(0.86);
    }
    100% {
        transform: translateX(42vw) translateY(-21vh) scale(0.43);
    }
}
.firefly:nth-child(5) {
    animation-name: move5;
}
.firefly:nth-child(5)::before {
    animation-duration: 11s;
}
.firefly:nth-child(5)::after {
    animation-duration: 11s, 8963ms;
    animation-delay: 0ms, 5861ms;
}

@keyframes move5 {
    0% {
        transform: translateX(41vw) translateY(25vh) scale(0.58);
    }
    4% {
        transform: translateX(-15vw) translateY(-38vh) scale(0.6);
    }
    8% {
        transform: translateX(46vw) translateY(-49vh) scale(0.68);
    }
    12% {
        transform: translateX(17vw) translateY(39vh) scale(0.68);
    }
    16% {
        transform: translateX(-19vw) translateY(-32vh) scale(0.28);
    }
    20% {
        transform: translateX(37vw) translateY(0vh) scale(0.4);
    }
    24% {
        transform: translateX(30vw) translateY(12vh) scale(0.41);
    }
    28% {
        transform: translateX(-3vw) translateY(-29vh) scale(0.32);
    }
    32% {
        transform: translateX(-31vw) translateY(-13vh) scale(0.44);
    }
    36% {
        transform: translateX(-7vw) translateY(6vh) scale(0.26);
    }
    40% {
        transform: translateX(-5vw) translateY(24vh) scale(0.76);
    }
    44% {
        transform: translateX(-31vw) translateY(-37vh) scale(0.37);
    }
    48% {
        transform: translateX(37vw) translateY(-7vh) scale(0.8);
    }
    52% {
        transform: translateX(22vw) translateY(-49vh) scale(0.57);
    }
    56% {
        transform: translateX(35vw) translateY(16vh) scale(0.35);
    }
    60% {
        transform: translateX(-34vw) translateY(-42vh) scale(0.26);
    }
    64% {
        transform: translateX(-13vw) translateY(26vh) scale(0.75);
    }
    68% {
        transform: translateX(33vw) translateY(-9vh) scale(0.83);
    }
    72% {
        transform: translateX(-21vw) translateY(-42vh) scale(0.66);
    }
    76% {
        transform: translateX(19vw) translateY(-15vh) scale(0.59);
    }
    80% {
        transform: translateX(26vw) translateY(35vh) scale(0.54);
    }
    84% {
        transform: translateX(21vw) translateY(34vh) scale(0.28);
    }
    88% {
        transform: translateX(-23vw) translateY(-48vh) scale(0.66);
    }
    92% {
        transform: translateX(26vw) translateY(5vh) scale(0.58);
    }
    96% {
        transform: translateX(31vw) translateY(-48vh) scale(0.62);
    }
    100% {
        transform: translateX(30vw) translateY(46vh) scale(0.43);
    }
}
.firefly:nth-child(6) {
    animation-name: move6;
}
.firefly:nth-child(6)::before {
    animation-duration: 15s;
}
.firefly:nth-child(6)::after {
    animation-duration: 15s, 7800ms;
    animation-delay: 0ms, 7942ms;
}

@keyframes move6 {
    0% {
        transform: translateX(16vw) translateY(-48vh) scale(0.56);
    }
    4.1666666667% {
        transform: translateX(-15vw) translateY(11vh) scale(0.55);
    }
    8.3333333333% {
        transform: translateX(-45vw) translateY(-47vh) scale(0.83);
    }
    12.5% {
        transform: translateX(-21vw) translateY(-15vh) scale(0.95);
    }
    16.6666666667% {
        transform: translateX(-48vw) translateY(-35vh) scale(0.52);
    }
    20.8333333333% {
        transform: translateX(-9vw) translateY(-48vh) scale(0.88);
    }
    25% {
        transform: translateX(36vw) translateY(23vh) scale(0.49);
    }
    29.1666666667% {
        transform: translateX(-4vw) translateY(17vh) scale(0.5);
    }
    33.3333333333% {
        transform: translateX(-46vw) translateY(32vh) scale(0.59);
    }
    37.5% {
        transform: translateX(14vw) translateY(-30vh) scale(0.33);
    }
    41.6666666667% {
        transform: translateX(-37vw) translateY(-23vh) scale(0.89);
    }
    45.8333333333% {
        transform: translateX(21vw) translateY(27vh) scale(0.96);
    }
    50% {
        transform: translateX(-40vw) translateY(39vh) scale(0.72);
    }
    54.1666666667% {
        transform: translateX(27vw) translateY(-25vh) scale(0.44);
    }
    58.3333333333% {
        transform: translateX(-15vw) translateY(39vh) scale(0.3);
    }
    62.5% {
        transform: translateX(46vw) translateY(20vh) scale(0.34);
    }
    66.6666666667% {
        transform: translateX(36vw) translateY(4vh) scale(0.91);
    }
    70.8333333333% {
        transform: translateX(-28vw) translateY(37vh) scale(0.46);
    }
    75% {
        transform: translateX(-33vw) translateY(-13vh) scale(0.3);
    }
    79.1666666667% {
        transform: translateX(-13vw) translateY(-5vh) scale(0.36);
    }
    83.3333333333% {
        transform: translateX(0vw) translateY(-5vh) scale(0.62);
    }
    87.5% {
        transform: translateX(49vw) translateY(3vh) scale(0.47);
    }
    91.6666666667% {
        transform: translateX(-43vw) translateY(-18vh) scale(0.71);
    }
    95.8333333333% {
        transform: translateX(9vw) translateY(-38vh) scale(0.72);
    }
    100% {
        transform: translateX(32vw) translateY(-26vh) scale(1);
    }
}
.firefly:nth-child(7) {
    animation-name: move7;
}
.firefly:nth-child(7)::before {
    animation-duration: 13s;
}
.firefly:nth-child(7)::after {
    animation-duration: 13s, 5038ms;
    animation-delay: 0ms, 7759ms;
}

@keyframes move7 {
    0% {
        transform: translateX(9vw) translateY(8vh) scale(0.33);
    }
    4.347826087% {
        transform: translateX(40vw) translateY(-12vh) scale(0.71);
    }
    8.6956521739% {
        transform: translateX(-29vw) translateY(8vh) scale(0.69);
    }
    13.0434782609% {
        transform: translateX(21vw) translateY(4vh) scale(0.9);
    }
    17.3913043478% {
        transform: translateX(32vw) translateY(49vh) scale(0.33);
    }
    21.7391304348% {
        transform: translateX(42vw) translateY(31vh) scale(0.75);
    }
    26.0869565217% {
        transform: translateX(-9vw) translateY(-15vh) scale(0.81);
    }
    30.4347826087% {
        transform: translateX(-18vw) translateY(-45vh) scale(0.59);
    }
    34.7826086957% {
        transform: translateX(11vw) translateY(20vh) scale(0.53);
    }
    39.1304347826% {
        transform: translateX(43vw) translateY(8vh) scale(0.95);
    }
    43.4782608696% {
        transform: translateX(49vw) translateY(45vh) scale(0.4);
    }
    47.8260869565% {
        transform: translateX(11vw) translateY(43vh) scale(0.98);
    }
    52.1739130435% {
        transform: translateX(11vw) translateY(-6vh) scale(0.26);
    }
    56.5217391304% {
        transform: translateX(15vw) translateY(8vh) scale(0.95);
    }
    60.8695652174% {
        transform: translateX(-43vw) translateY(-24vh) scale(0.97);
    }
    65.2173913043% {
        transform: translateX(-6vw) translateY(4vh) scale(0.75);
    }
    69.5652173913% {
        transform: translateX(-5vw) translateY(-8vh) scale(0.6);
    }
    73.9130434783% {
        transform: translateX(47vw) translateY(47vh) scale(0.94);
    }
    78.2608695652% {
        transform: translateX(-47vw) translateY(23vh) scale(0.84);
    }
    82.6086956522% {
        transform: translateX(22vw) translateY(-14vh) scale(0.64);
    }
    86.9565217391% {
        transform: translateX(-19vw) translateY(28vh) scale(0.83);
    }
    91.3043478261% {
        transform: translateX(-47vw) translateY(11vh) scale(0.31);
    }
    95.652173913% {
        transform: translateX(-45vw) translateY(-15vh) scale(0.4);
    }
    100% {
        transform: translateX(34vw) translateY(-4vh) scale(0.44);
    }
}
.firefly:nth-child(8) {
    animation-name: move8;
}
.firefly:nth-child(8)::before {
    animation-duration: 12s;
}
.firefly:nth-child(8)::after {
    animation-duration: 12s, 8474ms;
    animation-delay: 0ms, 7083ms;
}

@keyframes move8 {
    0% {
        transform: translateX(-11vw) translateY(45vh) scale(0.46);
    }
    3.8461538462% {
        transform: translateX(-41vw) translateY(-4vh) scale(0.26);
    }
    7.6923076923% {
        transform: translateX(49vw) translateY(1vh) scale(0.99);
    }
    11.5384615385% {
        transform: translateX(-35vw) translateY(33vh) scale(0.7);
    }
    15.3846153846% {
        transform: translateX(46vw) translateY(29vh) scale(0.53);
    }
    19.2307692308% {
        transform: translateX(31vw) translateY(-23vh) scale(1);
    }
    23.0769230769% {
        transform: translateX(20vw) translateY(-48vh) scale(0.71);
    }
    26.9230769231% {
        transform: translateX(5vw) translateY(-22vh) scale(0.5);
    }
    30.7692307692% {
        transform: translateX(15vw) translateY(23vh) scale(0.41);
    }
    34.6153846154% {
        transform: translateX(34vw) translateY(26vh) scale(0.88);
    }
    38.4615384615% {
        transform: translateX(-42vw) translateY(-2vh) scale(0.3);
    }
    42.3076923077% {
        transform: translateX(35vw) translateY(-20vh) scale(0.37);
    }
    46.1538461538% {
        transform: translateX(-32vw) translateY(-48vh) scale(0.58);
    }
    50% {
        transform: translateX(-10vw) translateY(12vh) scale(0.57);
    }
    53.8461538462% {
        transform: translateX(0vw) translateY(47vh) scale(0.5);
    }
    57.6923076923% {
        transform: translateX(6vw) translateY(49vh) scale(0.87);
    }
    61.5384615385% {
        transform: translateX(-31vw) translateY(-27vh) scale(0.37);
    }
    65.3846153846% {
        transform: translateX(17vw) translateY(19vh) scale(0.53);
    }
    69.2307692308% {
        transform: translateX(16vw) translateY(4vh) scale(0.7);
    }
    73.0769230769% {
        transform: translateX(-12vw) translateY(-26vh) scale(0.75);
    }
    76.9230769231% {
        transform: translateX(-29vw) translateY(47vh) scale(0.57);
    }
    80.7692307692% {
        transform: translateX(13vw) translateY(31vh) scale(0.82);
    }
    84.6153846154% {
        transform: translateX(-33vw) translateY(1vh) scale(0.83);
    }
    88.4615384615% {
        transform: translateX(-16vw) translateY(13vh) scale(0.46);
    }
    92.3076923077% {
        transform: translateX(48vw) translateY(1vh) scale(0.9);
    }
    96.1538461538% {
        transform: translateX(7vw) translateY(19vh) scale(0.41);
    }
    100% {
        transform: translateX(30vw) translateY(-48vh) scale(0.89);
    }
}
.firefly:nth-child(9) {
    animation-name: move9;
}
.firefly:nth-child(9)::before {
    animation-duration: 16s;
}
.firefly:nth-child(9)::after {
    animation-duration: 16s, 9194ms;
    animation-delay: 0ms, 3315ms;
}

@keyframes move9 {
    0% {
        transform: translateX(17vw) translateY(-23vh) scale(0.4);
    }
    4.7619047619% {
        transform: translateX(7vw) translateY(41vh) scale(0.59);
    }
    9.5238095238% {
        transform: translateX(-4vw) translateY(46vh) scale(0.76);
    }
    14.2857142857% {
        transform: translateX(23vw) translateY(4vh) scale(0.47);
    }
    19.0476190476% {
        transform: translateX(14vw) translateY(32vh) scale(0.87);
    }
    23.8095238095% {
        transform: translateX(-29vw) translateY(-39vh) scale(0.4);
    }
    28.5714285714% {
        transform: translateX(10vw) translateY(-14vh) scale(0.99);
    }
    33.3333333333% {
        transform: translateX(-35vw) translateY(43vh) scale(0.27);
    }
    38.0952380952% {
        transform: translateX(-38vw) translateY(1vh) scale(0.59);
    }
    42.8571428571% {
        transform: translateX(23vw) translateY(19vh) scale(0.86);
    }
    47.619047619% {
        transform: translateX(34vw) translateY(47vh) scale(0.74);
    }
    52.380952381% {
        transform: translateX(43vw) translateY(-1vh) scale(0.36);
    }
    57.1428571429% {
        transform: translateX(-23vw) translateY(-22vh) scale(0.97);
    }
    61.9047619048% {
        transform: translateX(27vw) translateY(15vh) scale(0.53);
    }
    66.6666666667% {
        transform: translateX(36vw) translateY(2vh) scale(0.55);
    }
    71.4285714286% {
        transform: translateX(23vw) translateY(-15vh) scale(0.67);
    }
    76.1904761905% {
        transform: translateX(48vw) translateY(-34vh) scale(0.72);
    }
    80.9523809524% {
        transform: translateX(-26vw) translateY(-45vh) scale(0.49);
    }
    85.7142857143% {
        transform: translateX(34vw) translateY(-2vh) scale(0.8);
    }
    90.4761904762% {
        transform: translateX(35vw) translateY(21vh) scale(0.85);
    }
    95.2380952381% {
        transform: translateX(-4vw) translateY(7vh) scale(0.92);
    }
    100% {
        transform: translateX(-31vw) translateY(-14vh) scale(0.74);
    }
}
.firefly:nth-child(10) {
    animation-name: move10;
}
.firefly:nth-child(10)::before {
    animation-duration: 10s;
}
.firefly:nth-child(10)::after {
    animation-duration: 10s, 9421ms;
    animation-delay: 0ms, 7373ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-40vw) translateY(23vh) scale(0.64);
    }
    4.347826087% {
        transform: translateX(-15vw) translateY(-48vh) scale(0.3);
    }
    8.6956521739% {
        transform: translateX(32vw) translateY(-47vh) scale(0.51);
    }
    13.0434782609% {
        transform: translateX(-28vw) translateY(27vh) scale(0.42);
    }
    17.3913043478% {
        transform: translateX(-3vw) translateY(-35vh) scale(0.98);
    }
    21.7391304348% {
        transform: translateX(-9vw) translateY(-33vh) scale(0.77);
    }
    26.0869565217% {
        transform: translateX(-23vw) translateY(28vh) scale(0.36);
    }
    30.4347826087% {
        transform: translateX(-41vw) translateY(43vh) scale(0.64);
    }
    34.7826086957% {
        transform: translateX(30vw) translateY(-3vh) scale(0.98);
    }
    39.1304347826% {
        transform: translateX(-44vw) translateY(22vh) scale(0.83);
    }
    43.4782608696% {
        transform: translateX(21vw) translateY(32vh) scale(0.33);
    }
    47.8260869565% {
        transform: translateX(46vw) translateY(28vh) scale(0.63);
    }
    52.1739130435% {
        transform: translateX(-7vw) translateY(14vh) scale(0.31);
    }
    56.5217391304% {
        transform: translateX(10vw) translateY(-21vh) scale(0.51);
    }
    60.8695652174% {
        transform: translateX(44vw) translateY(35vh) scale(0.51);
    }
    65.2173913043% {
        transform: translateX(-25vw) translateY(-15vh) scale(0.68);
    }
    69.5652173913% {
        transform: translateX(-31vw) translateY(38vh) scale(0.28);
    }
    73.9130434783% {
        transform: translateX(-30vw) translateY(48vh) scale(0.96);
    }
    78.2608695652% {
        transform: translateX(13vw) translateY(2vh) scale(0.84);
    }
    82.6086956522% {
        transform: translateX(-33vw) translateY(31vh) scale(0.33);
    }
    86.9565217391% {
        transform: translateX(-31vw) translateY(-28vh) scale(0.5);
    }
    91.3043478261% {
        transform: translateX(10vw) translateY(23vh) scale(0.65);
    }
    95.652173913% {
        transform: translateX(-7vw) translateY(-13vh) scale(0.84);
    }
    100% {
        transform: translateX(36vw) translateY(20vh) scale(0.79);
    }
}
.firefly:nth-child(11) {
    animation-name: move11;
}
.firefly:nth-child(11)::before {
    animation-duration: 12s;
}
.firefly:nth-child(11)::after {
    animation-duration: 12s, 9195ms;
    animation-delay: 0ms, 813ms;
}

@keyframes move11 {
    0% {
        transform: translateX(-14vw) translateY(9vh) scale(0.46);
    }
    5% {
        transform: translateX(-1vw) translateY(-11vh) scale(0.82);
    }
    10% {
        transform: translateX(-43vw) translateY(-49vh) scale(0.61);
    }
    15% {
        transform: translateX(27vw) translateY(-17vh) scale(0.5);
    }
    20% {
        transform: translateX(5vw) translateY(-6vh) scale(0.66);
    }
    25% {
        transform: translateX(1vw) translateY(-47vh) scale(0.4);
    }
    30% {
        transform: translateX(4vw) translateY(31vh) scale(0.51);
    }
    35% {
        transform: translateX(22vw) translateY(42vh) scale(0.8);
    }
    40% {
        transform: translateX(-18vw) translateY(-49vh) scale(0.89);
    }
    45% {
        transform: translateX(-16vw) translateY(-43vh) scale(0.56);
    }
    50% {
        transform: translateX(-28vw) translateY(-32vh) scale(0.4);
    }
    55% {
        transform: translateX(-35vw) translateY(29vh) scale(0.49);
    }
    60% {
        transform: translateX(-44vw) translateY(36vh) scale(0.99);
    }
    65% {
        transform: translateX(9vw) translateY(-19vh) scale(0.66);
    }
    70% {
        transform: translateX(-8vw) translateY(18vh) scale(0.37);
    }
    75% {
        transform: translateX(-33vw) translateY(-18vh) scale(0.69);
    }
    80% {
        transform: translateX(-13vw) translateY(-9vh) scale(0.73);
    }
    85% {
        transform: translateX(-4vw) translateY(42vh) scale(0.53);
    }
    90% {
        transform: translateX(-49vw) translateY(-26vh) scale(0.5);
    }
    95% {
        transform: translateX(1vw) translateY(8vh) scale(0.94);
    }
    100% {
        transform: translateX(-39vw) translateY(-22vh) scale(0.72);
    }
}
.firefly:nth-child(12) {
    animation-name: move12;
}
.firefly:nth-child(12)::before {
    animation-duration: 10s;
}
.firefly:nth-child(12)::after {
    animation-duration: 10s, 6102ms;
    animation-delay: 0ms, 6878ms;
}

@keyframes move12 {
    0% {
        transform: translateX(41vw) translateY(45vh) scale(0.45);
    }
    3.5714285714% {
        transform: translateX(30vw) translateY(25vh) scale(0.64);
    }
    7.1428571429% {
        transform: translateX(-25vw) translateY(33vh) scale(0.92);
    }
    10.7142857143% {
        transform: translateX(33vw) translateY(-48vh) scale(0.89);
    }
    14.2857142857% {
        transform: translateX(-28vw) translateY(-29vh) scale(0.35);
    }
    17.8571428571% {
        transform: translateX(42vw) translateY(-38vh) scale(0.98);
    }
    21.4285714286% {
        transform: translateX(33vw) translateY(9vh) scale(0.84);
    }
    25% {
        transform: translateX(3vw) translateY(-1vh) scale(0.77);
    }
    28.5714285714% {
        transform: translateX(-29vw) translateY(44vh) scale(0.84);
    }
    32.1428571429% {
        transform: translateX(-49vw) translateY(43vh) scale(0.46);
    }
    35.7142857143% {
        transform: translateX(8vw) translateY(2vh) scale(0.51);
    }
    39.2857142857% {
        transform: translateX(-46vw) translateY(37vh) scale(0.88);
    }
    42.8571428571% {
        transform: translateX(26vw) translateY(-19vh) scale(0.49);
    }
    46.4285714286% {
        transform: translateX(38vw) translateY(-36vh) scale(0.78);
    }
    50% {
        transform: translateX(6vw) translateY(24vh) scale(0.74);
    }
    53.5714285714% {
        transform: translateX(34vw) translateY(-33vh) scale(0.74);
    }
    57.1428571429% {
        transform: translateX(3vw) translateY(-38vh) scale(0.74);
    }
    60.7142857143% {
        transform: translateX(39vw) translateY(18vh) scale(0.4);
    }
    64.2857142857% {
        transform: translateX(-48vw) translateY(-17vh) scale(0.64);
    }
    67.8571428571% {
        transform: translateX(17vw) translateY(-6vh) scale(0.96);
    }
    71.4285714286% {
        transform: translateX(-10vw) translateY(27vh) scale(0.58);
    }
    75% {
        transform: translateX(50vw) translateY(-25vh) scale(0.75);
    }
    78.5714285714% {
        transform: translateX(50vw) translateY(-22vh) scale(0.85);
    }
    82.1428571429% {
        transform: translateX(5vw) translateY(37vh) scale(0.46);
    }
    85.7142857143% {
        transform: translateX(-27vw) translateY(43vh) scale(0.52);
    }
    89.2857142857% {
        transform: translateX(-12vw) translateY(-42vh) scale(0.32);
    }
    92.8571428571% {
        transform: translateX(45vw) translateY(-43vh) scale(0.35);
    }
    96.4285714286% {
        transform: translateX(-18vw) translateY(40vh) scale(0.49);
    }
    100% {
        transform: translateX(11vw) translateY(-26vh) scale(0.33);
    }
}
.firefly:nth-child(13) {
    animation-name: move13;
}
.firefly:nth-child(13)::before {
    animation-duration: 16s;
}
.firefly:nth-child(13)::after {
    animation-duration: 16s, 10247ms;
    animation-delay: 0ms, 1455ms;
}

@keyframes move13 {
    0% {
        transform: translateX(50vw) translateY(-44vh) scale(0.43);
    }
    5.5555555556% {
        transform: translateX(-30vw) translateY(10vh) scale(0.34);
    }
    11.1111111111% {
        transform: translateX(-47vw) translateY(-20vh) scale(0.99);
    }
    16.6666666667% {
        transform: translateX(6vw) translateY(11vh) scale(0.39);
    }
    22.2222222222% {
        transform: translateX(-22vw) translateY(-49vh) scale(0.87);
    }
    27.7777777778% {
        transform: translateX(18vw) translateY(26vh) scale(0.49);
    }
    33.3333333333% {
        transform: translateX(-41vw) translateY(-4vh) scale(0.45);
    }
    38.8888888889% {
        transform: translateX(40vw) translateY(-9vh) scale(0.35);
    }
    44.4444444444% {
        transform: translateX(-41vw) translateY(-12vh) scale(0.97);
    }
    50% {
        transform: translateX(-3vw) translateY(-27vh) scale(0.78);
    }
    55.5555555556% {
        transform: translateX(38vw) translateY(29vh) scale(0.97);
    }
    61.1111111111% {
        transform: translateX(-27vw) translateY(-28vh) scale(0.39);
    }
    66.6666666667% {
        transform: translateX(16vw) translateY(18vh) scale(0.69);
    }
    72.2222222222% {
        transform: translateX(-30vw) translateY(41vh) scale(0.75);
    }
    77.7777777778% {
        transform: translateX(33vw) translateY(35vh) scale(0.87);
    }
    83.3333333333% {
        transform: translateX(-45vw) translateY(22vh) scale(0.54);
    }
    88.8888888889% {
        transform: translateX(-33vw) translateY(-10vh) scale(0.49);
    }
    94.4444444444% {
        transform: translateX(16vw) translateY(37vh) scale(0.56);
    }
    100% {
        transform: translateX(24vw) translateY(17vh) scale(0.86);
    }
}
.firefly:nth-child(14) {
    animation-name: move14;
}
.firefly:nth-child(14)::before {
    animation-duration: 18s;
}
.firefly:nth-child(14)::after {
    animation-duration: 18s, 8771ms;
    animation-delay: 0ms, 2857ms;
}

@keyframes move14 {
    0% {
        transform: translateX(44vw) translateY(19vh) scale(0.56);
    }
    4% {
        transform: translateX(-36vw) translateY(27vh) scale(0.81);
    }
    8% {
        transform: translateX(20vw) translateY(10vh) scale(0.58);
    }
    12% {
        transform: translateX(15vw) translateY(32vh) scale(0.27);
    }
    16% {
        transform: translateX(-27vw) translateY(-38vh) scale(0.86);
    }
    20% {
        transform: translateX(-39vw) translateY(44vh) scale(0.95);
    }
    24% {
        transform: translateX(-36vw) translateY(-40vh) scale(0.52);
    }
    28% {
        transform: translateX(47vw) translateY(9vh) scale(0.34);
    }
    32% {
        transform: translateX(46vw) translateY(-23vh) scale(0.66);
    }
    36% {
        transform: translateX(47vw) translateY(22vh) scale(0.99);
    }
    40% {
        transform: translateX(-45vw) translateY(-31vh) scale(0.7);
    }
    44% {
        transform: translateX(-23vw) translateY(15vh) scale(0.97);
    }
    48% {
        transform: translateX(-7vw) translateY(-5vh) scale(0.96);
    }
    52% {
        transform: translateX(-34vw) translateY(-49vh) scale(0.36);
    }
    56% {
        transform: translateX(-7vw) translateY(-18vh) scale(0.77);
    }
    60% {
        transform: translateX(-44vw) translateY(-28vh) scale(0.88);
    }
    64% {
        transform: translateX(-41vw) translateY(10vh) scale(0.6);
    }
    68% {
        transform: translateX(16vw) translateY(17vh) scale(0.37);
    }
    72% {
        transform: translateX(-39vw) translateY(4vh) scale(0.82);
    }
    76% {
        transform: translateX(-31vw) translateY(1vh) scale(0.78);
    }
    80% {
        transform: translateX(-34vw) translateY(47vh) scale(0.39);
    }
    84% {
        transform: translateX(32vw) translateY(-44vh) scale(0.3);
    }
    88% {
        transform: translateX(34vw) translateY(41vh) scale(0.79);
    }
    92% {
        transform: translateX(-30vw) translateY(-2vh) scale(0.48);
    }
    96% {
        transform: translateX(3vw) translateY(36vh) scale(0.84);
    }
    100% {
        transform: translateX(-5vw) translateY(21vh) scale(1);
    }
}
.firefly:nth-child(15) {
    animation-name: move15;
}
.firefly:nth-child(15)::before {
    animation-duration: 13s;
}
.firefly:nth-child(15)::after {
    animation-duration: 13s, 7061ms;
    animation-delay: 0ms, 8155ms;
}

@keyframes move15 {
    0% {
        transform: translateX(24vw) translateY(-48vh) scale(0.7);
    }
    4.347826087% {
        transform: translateX(41vw) translateY(-6vh) scale(0.45);
    }
    8.6956521739% {
        transform: translateX(-13vw) translateY(49vh) scale(1);
    }
    13.0434782609% {
        transform: translateX(-47vw) translateY(-35vh) scale(0.53);
    }
    17.3913043478% {
        transform: translateX(-18vw) translateY(35vh) scale(0.92);
    }
    21.7391304348% {
        transform: translateX(-10vw) translateY(32vh) scale(0.7);
    }
    26.0869565217% {
        transform: translateX(-20vw) translateY(-15vh) scale(0.42);
    }
    30.4347826087% {
        transform: translateX(-19vw) translateY(-13vh) scale(0.68);
    }
    34.7826086957% {
        transform: translateX(6vw) translateY(-30vh) scale(0.41);
    }
    39.1304347826% {
        transform: translateX(-7vw) translateY(19vh) scale(0.49);
    }
    43.4782608696% {
        transform: translateX(-22vw) translateY(-34vh) scale(0.42);
    }
    47.8260869565% {
        transform: translateX(-27vw) translateY(26vh) scale(0.36);
    }
    52.1739130435% {
        transform: translateX(10vw) translateY(0vh) scale(0.27);
    }
    56.5217391304% {
        transform: translateX(11vw) translateY(-36vh) scale(0.86);
    }
    60.8695652174% {
        transform: translateX(33vw) translateY(-28vh) scale(0.32);
    }
    65.2173913043% {
        transform: translateX(30vw) translateY(-23vh) scale(0.5);
    }
    69.5652173913% {
        transform: translateX(8vw) translateY(1vh) scale(0.73);
    }
    73.9130434783% {
        transform: translateX(-22vw) translateY(-5vh) scale(0.97);
    }
    78.2608695652% {
        transform: translateX(-11vw) translateY(35vh) scale(0.72);
    }
    82.6086956522% {
        transform: translateX(-21vw) translateY(18vh) scale(0.42);
    }
    86.9565217391% {
        transform: translateX(-35vw) translateY(16vh) scale(0.55);
    }
    91.3043478261% {
        transform: translateX(31vw) translateY(3vh) scale(0.45);
    }
    95.652173913% {
        transform: translateX(-17vw) translateY(34vh) scale(0.99);
    }
    100% {
        transform: translateX(-47vw) translateY(-7vh) scale(0.97);
    }
}
@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes flash {
    0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw #f8f6f6;
    }
    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw #f8f6f6;
    }
}
/*background animation*/